.App {
    display: flex;
    flex-direction: column;
}

.Header {
    padding: 40px 30px 20px 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.logo p {
    margin: 0;
    font-size: small;
    font-weight: bolder;
    text-align: center;
}

.logo img {
    height: 100px;
}

.Header h1 {
    margin: 0;
    padding-left: 30px;
    width: 100%;
    font-size: 60px;
    text-align: left;
    justify-content: center;
    align-items: center;
}

input {
    height: 60px;
    width: 1000px;
    margin-right: 35px;
    padding-left: 25px;
    border: 1px solid rgba(211, 211, 211);
    border-bottom: 2px solid rgba(211, 211, 211);
    border-top: hidden;
    border-radius: 15px;
    outline: unset;
    font-size: 40px;
    background: url(../img/zoom.png) no-repeat right scroll;
}

input::placeholder {
    color: rgb(150, 138, 138);
}

input:focus {
    background: none;
}

.Main {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}

.Main table {
    margin: 0 30px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.Main thead th {
    color: rgba(255, 255, 255);
    background-color: rgba(30, 144, 255);
}

.Main tr {
    border: 2px solid rgba(211, 211, 211);
    border-radius: 15px;
}

.Main tbody tr {
    cursor: pointer;
}

.Main th {
    height: 50px;
    padding: 10px 15px 10px 0;
}

.Main th:not(:first-child) {
    padding-left: 20px;
    text-align: left;
    border-left: 2px solid rgba(211, 211, 211);
    border-bottom: 3px solid rgba(211, 211, 211);
}

.thead-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thead-content p {
    width: 100%;
}

.Main thead span {
    cursor: pointer;
    font-size: 23px;
}

.Main thead span:hover {
    color: rgba(0, 0, 0);
}

.Main th:first-child {
    width: 60px;
    border-radius: 15px 0 0 15px;
    border-left: 2px solid rgba(211, 211, 211);
    border-bottom: 3px solid rgba(211, 211, 211);
}

.Main th:last-child {
    width: 500px;
    border-right: 2px solid rgba(211, 211, 211);
    border-radius: 0 15px 15px 0;
}

.Modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.modal-body {
    margin: 15% 40%;
    padding: 0 3px 15px 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: rgba(128, 128, 128);
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
}

.modal-body h1 {
    margin: 10px 0 0 0;
    font-size: 35px;
    font-weight: 600;
    color: rgba(0, 0, 0);
    text-align: center;
}

.modal-body img {
    height: 20px;
}

.modal-body table {
    margin: 5px 10px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.modal-body th {
    font-weight: 500;
}

.modal-body th:not(:last-child) {
    text-align: left;
}

.modal-body th:first-child {
    width: 50px;
}

.modal-body th:last-child {
    text-align: right;
}

.modal-footer {
    text-align: center;
}

.modal-footer button {
    height: 35px;
    width: 120px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255);
    background: rgba(30, 144, 255);
    border: hidden;
    border-radius: 15px;
}

.modal-footer button:hover {
    background: rgb(100, 176, 248)
}
